/.ConfiguratorDSLDescriptionLabelProvider.java._trace
/.ConfiguratorDSLDescriptionLabelProvider.xtendbin
/.ConfiguratorDSLLabelProvider.java._trace
/.ConfiguratorDSLLabelProvider.xtendbin
/ConfiguratorDSLDescriptionLabelProvider.java
/ConfiguratorDSLLabelProvider.java
