<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated req_spec -->
      <package
            uri="http://chalmers.se/cse/se/2016/reqSpec"
            class="req_spec.Req_specPackage"
            genModel="model/req_spec.genmodel"/>
   </extension>

</plugin>
